{% extends "base.html" %}
{% block content %}
{% if articles %}

    {% for article in articles_page.object_list %}
        <h1 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        {% include 'article_infos.html' %}
        {{ article.summary }}
        <a href="{{ SITEURL }}/{{ article.url }}">read more</a>
        {% if not loop.last %}<hr />{% endif %}
    {% endfor %}

    <div class="clearfix"></div>

    {% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
        <ul class="pagination">
            {% if articles_page.has_previous() %}
                <li>
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled"><a href="#" onclick="return false;">&laquo;</a></li>
            {% endif %}
            {% for page in range(1, articles_paginator.num_pages + 1) %}
                <li{% if page == articles_page.number %} class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ articles_paginator.page(page).url }}">{{ page }}</a>
                </li>
            {% endfor %}
            {% if articles_page.has_next() %}
                <li>
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled"><a href="#" onclick="return false;">&raquo;</a></li>
            {% endif %}
            </li>
        </ul>
    {% endif %}

{% else %}
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
